{% load static %}

{% block title %}Accueil{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <h1>Bienvenue sur notre site</h1>
    {% if user.is_authenticated %}
        <p>Bonjour, {{ user.username }} !</p>
        <a href="{% url 'logout' %}">Déconnexion</a>
    {% else %}
        <a href="{% url 'login' %}">Connexion</a> |
        <a href="{% url 'register' %}">Inscription</a>
    {% endif %}
{% endblock %}